.top-bar{
    height: 90px;
    background-color: $background-blue;
    .ui.grid{
        margin:0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    .top-bar_le{
       display: flex !important;
       align-items: center;
       img{
           width: 10rem;
           height: 5rem;
           transition: all 0.5s;
           &:hover{
               transform: translateX(-10px);
           }
       }
    }
    .top-bar_ri{
     display: flex !important;
     align-items: center;
     justify-content: flex-end;
     .ui.icon.input > input{
        padding-right: 2px !important;
    }
     .ui.input{
         align-items: center;
        margin-right: 20px;
     }
     
     input{
         background-color: transparent !important;
         border: 0;
         border-bottom: 2px solid royalblue !important;
         border-radius: 0;
         color: #fff !important;
         padding: 5px 0 !important;
         width: 10rem;
         font-size: 2rem;
         transition: width 0.10s;
         &:focus{
             width:20rem;
         }
        
     }
    }
}