.top-bar{
    height: 90px;
    background-color: $background-blue;
    .ui.grid{
        margin:0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    .top-bar_le{
       display: flex !important;
       align-items: center;
       img{
           width: 10rem;
           height: 5rem;
           transition: all 0.5s;
           &:hover{
               transform: translateX(-10px);
           }
       }
    }
    .top-bar_ri{
     display: flex !important;
     align-items: center;
     justify-content: flex-end;
     .ui.icon.input > input{
        padding-right: 5px !important;
    }
     .ui.input{
         align-items: center;
        margin-right: 25px;
     }
     
     input{
         background-color: transparent !important;
         border: 0;
         border-bottom: 2px solid #fff !important;
         border-radius: 0;
         color: #fff !important;
         padding: 5px 0 !important;
         width: 22rem;
         font-size: 2rem;
         transition: width 0.10s;
         &:focus{
             width:35rem;
         }
        
     }
     i{
        color: $primary;
        opacity: 1 !important;
        font-size: 25px;
        right:  -5rem !important;

    }
    }
}